body{
    height: 200vh;
}


#root{}

header{
    height: 100px;
    box-sizing: border-box;
    padding: 20px 100px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    background: orange;
    align-items: center;
}
header ul{
    display: flex;
    margin-left: auto;
    gap: 30px;
}

/* 우측 화면 고정 사이드바 */
.fixedsidebar{
    position: fixed;
    right: 20%;
    top: 30%
}
.fixedsidebar .popularproducts{
    width: 100px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.fixedsidebar .popularproducts li{
    font-size: 0;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
.fixedsidebar .popularproducts li img{
    width: 100%;
}

/* active class */
.fixedsidebar .popularproducts li.active{
    border: 1px solid #000;
}

section.imageGallery{
    margin: 50px;
}
section.imageGallery .productImage{
    font-size: 0;
    width: 500px;
    border: 2px solid #ccc;
}
section.imageGallery .productImage img{
    width: 100%;
}

section.imageGallery .productMenu{
    display: flex;
    gap: 10px;
    padding: 20px;
}
section.imageGallery .productMenu li{
    font-size: 0;
    cursor: pointer;
    width: 150px;
    border: 1px solid #ccc;
}
section.imageGallery .productMenu li img{
    width: 100%;
}
/* active class */
section.imageGallery .productMenu li.active{
    border: 1px solid #000;
}